.container {
    display: flex;
    align-items: center;
}

.imgContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.img {
    text-align: center;
    max-width: 220px;
    max-height: 220px;
}

.imgInput {
    margin-top: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

input {
    outline: none;
}

input,
select {
    width: 450px;

    padding: 6px 8px;

    background-color: white;
    font-size: 16px;
    letter-spacing: 2px;
    border: 1px solid #CABCB1;
    border-radius: 5px;
    outline: none;
}

input[type=file] {
    width: 220px;
    font-size: 14px;
}

input:focus,
select:focus {
    border-color: #4299e1;
}

input::placeholder,
select::placeholder {
    color: #a0aec0;
}

.btn {
    padding: 10px;
    background-color: #CABCB1;
    border-radius: 10px;

    letter-spacing: 2px;
    color: white;
    text-transform: uppercase;

    transition: background-color 0.1s linear;
}

.btn:disabled {
    opacity: 0.35;
}

.btn:hover {
    background-color: #c2b3a9;
}

.inputError {
    border-color: #fc8181;
}

.error {
    font-size: 16px;
    color: #fc8181;
    margin: 4px auto;
}


@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        align-items: flex-start;
    }
     input, select {
            width: 100%;
     }
}


