.choices {
    min-width: 190px;
    width: 30%;
    height: 30px;

    font-size: 15px;
    letter-spacing: 1px;
    color: #474246;

    background: #CABCB1;

    overflow: hidden;

    border-radius: 10px;

    margin-bottom: 15px;
}

.choices__placeholder {
    opacity: 80%;
}

.choices__inner {
    padding: 4px 0 10px 10px;
    border: none;
}

.choices__list.choices__list--dropdown {
    background: #F9F9F9;
    border-radius: 0 0 10px 10px; /* border-radius:top-left top-right bottom-right bottom-left */
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-color: #CABCB1;
}

.is-open .choices__inner {
    border: 1px solid #CABCB1;
    border-radius: 10px 10px 0 0;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
    padding-right: 0;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    padding: 10px 0 10px 13px; /* (padding-top, padding-right, padding-bottom, padding-left) */
}

.choices__list[aria-expanded] .choices__item:nth-child(2) {
    margin-top: 10px; /* (padding-top, padding-right, padding-bottom, padding-left) */
}

.choices__list[aria-expanded] .choices__item:last-child {
    margin-bottom: 10px; /* (padding-top, padding-right, padding-bottom, padding-left) */
}

.choices[data-type*="select-one"]::after {
    margin-top: -9px;
    right: 15px;

    background: url('https://svgshare.com/i/uiA.svg') center no-repeat;
    border-color: transparent;
    border-width: 10px;
}

.choices[data-type*="select-one"].is-open::after {
    margin-top: -9px;

    background: url('https://svgshare.com/i/uiA.svg') center no-repeat;
    border-color: transparent;
}

.choices__list--dropdown .choices__placeholder {
    display: none;
}
