.form, Form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

input {
    outline: none;
}

.inputError {
    border-color: #fc8181;
}

.btn {
    padding: 10px;
    background-color: #dfdfdf;
    border-radius: 10px;
}

.btn:disabled {
    opacity: 0.35;
}

input,
select {
    width: 100%;
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid #4a5568;
    background-color: #ffff;
    border-radius: 10px;
    outline: none;
}

input:focus,
select:focus {
    border-color: #4299e1;
}

input::placeholder,
select::placeholder {
    color: #a0aec0;
}

input[type="checkbox"] {
    width: fit-content;
    margin-right: 0.5rem;
    transform: scale(1.25);
}

.checkbox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}
