.btnContainer {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;

    margin-bottom: 10px;
}

.deleteBtn {
    position: absolute;
    top: 10px;
    right: 10px;

    z-index: 1;
}
