.container {
    position: relative;

    display: flex;
    align-items: center;
}

.img {
    min-width: 30%;
    /*width: content-box;*/
    /*min-width: 220px;*/
    height: auto;
    text-align: center;
    padding: 20px;
}

@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
