.container {
    position: relative;

    display: flex;
    align-items: center;
}

.imgContainer {
    padding: 20px;
}

.img {
    max-width: 220px;
    max-height: 220px;

    text-align: center;
}

@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        align-items: flex-start;
    }
}
