.container {
    position: relative;

    display: flex;
    align-items: center;
}

.img {
    width: 30%;
    text-align: center;
    padding: 20px;
}

.editBtn {
    padding: 20px;

    cursor: pointer;
}